SetEnvIf Authorization .+ HTTP_AUTHORIZATION=$0

RewriteEngine On    # Turn on the rewriting engine
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f


RewriteRule ^users$ api/v1/controllers/users.php [L]
RewriteRule ^users/([0-9]+)$ api/v1/controllers/users.php?user=$1 [L]

RewriteRule ^sessions$ api/v1/controllers/sessions.php [L]
RewriteRule ^sessions/([0-9]+)$ api/v1/controllers/sessions.php?session=$1 [L]

RewriteRule ^posts$ api/v1/controllers/posts.php [L]
RewriteRule ^posts/u/([0-9]+)$ api/v1/controllers/posts.php?user=$1 [L]
RewriteRule ^posts/p/([0-9]+)$ api/v1/controllers/posts.php?post=$1 [L]

RewriteRule ^replies$ api/v1/controllers/replies.php [L]
RewriteRule ^replies/([0-9]+)$ api/v1/controllers/replies.php?reply=$1 [L]
RewriteRule ^replies/p/([0-9]+)$ api/v1/controllers/replies.php?post=$1 [L]


RewriteRule ^chat$ api/v1/controllers/chats.php [L]
RewriteRule ^chat/m/([0-9]+)$ api/v1/controllers/chats.php?chat=$1 [L]
RewriteRule ^chat/nU/([0-9]+)$ api/v1/controllers/chats.php?nextUser=$1 [L]
RewriteRule ^chat/nUs/([0-9]+)$ api/v1/controllers/chats.php?nextUser=$1&single=true [L]
RewriteRule ^chat/nUd/([0-9]+)$ api/v1/controllers/chats.php?nextUser=$1&double=true [L]
